body{
    text-align: center;
    background-color: rgb(41, 39, 39);
}

.container{
    border: 5px solid burlywood;
    margin-top: 50px;
    height: 500px;
    margin-left: 420px;
    margin-right: 420px;
    border-radius: 20px;
    background-color: aqua;
}

h1{
    color: white;
}

.form{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    padding-top: 50px;
    margin-top: 50px;
}
.inp{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid black;
}
#btn{
    font-size: medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    margin-top: 20px;
    height: 50px;
    width: 80px;
}
